---
// src/pages/index.astro

// Import the layout and all the components we created
import Layout from '../layout/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="AgriFuture | Home">

  <!-- A wrapper div can be useful for flex-column layouts -->
  <div class="flex flex-col min-h-screen">

    <header>
      <Navbar />
    </header>

    <main class="flex-grow">
      <HeroSection />
    </main>
  </div>
</MainLayout>