---
// src/pages/index.astro

// Import the layout and all the components we created
import Layout from '../layout/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import Casestudies from '../components/Casestudies.astro';
import AboutUs from '../components/AboutUs.astro';
import Empanelment from '../components/Empanelment.astro';
import CoreServices from '../components/CoreServices.astro';
---

<Layout title="Agro and Food: Abhyuday | Home">

  <!-- A wrapper div can be useful for flex-column layouts -->
  <div class="flex flex-col min-h-screen">
    <main>
      <HeroSection />
      <AboutUs />
      <CoreServices />
      <Casestudies />
      <Empanelment />
    </main>
  </div>
</MainLayout>