---
import Layout from '../layout/Layout.astro';
import ShopHero from '../components/ShopHero.astro';
---

<Layout title="Shop | AgriFuture">
  <main>
    <ShopHero />
    <!-- You can add more sections like ProductListing here -->
  </main>
</Layout>
