
---
interface Logo {
  name: string;
  logoUrl: string;
}

const logos: Logo[] = [
  { name: "Vasant Masala", logoUrl: "/vasant masala.png" },
  { name: "EPICOS", logoUrl: "/epicos.png" },
  { name: "Bake Buds", logoUrl: "/bake buds.png" },
  { name: "ATHOS", logoUrl: "/athos.png" },
];
---

<div id="empanelment" class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-16 sm:px-16 lg:px-50">
    <div class="text-center mb-10">
      <h3 class=" text-4xl sm:text-5xl md:text-5xl font-extrabold text-black tracking-wider ">
        Happy Clients
      </h3>
    </div>

    <!-- Horizontal Scroll Container -->
    <div class=" ">
      <div class="flex space-x-10 px-4">
        {logos.map((logo) => (
          <div class="flex space-x-8 sm:space-x-10 lg:space-x-16 px-4">
            <img
              class="h-16 sm:h-20 md:h-24 lg:h-40 w-auto object-contain opacity-80 transition-all duration-300 hover:opacity-100"
              src={logo.logoUrl}
              alt={logo.name}
              title={logo.name}
            />
          </div>
        ))}
      </div>
    </div>
  </div>
</div>
