<section id="our-strategy" class="py-20 bg-gray-50 sm:py-28">
  <div class="max-w-7xl px-8 mx-auto sm:px-10 lg:px-16">
    <div class="text-center mb-16" style="font-family: 'Poppins'">
      <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl">
        Our Business Strategy
      </h2>
      <div class="w-24 h-1 mt-4 mx-auto bg-blue-600 rounded"></div>
      <p class="mt-6 text-gray-600 text-lg leading-relaxed tracking-wide max-w-3xl mx-auto">
        Our strategy is meticulously crafted to ensure maximum value for our clients, guiding them through every step from project inception to commissioning.
      </p>
    </div>

    <!-- Image showcasing the business process -->
    <div class="w-full flex justify-center mb-16">
      <img
        src="/PMC_Cycle.png"
        alt="Project Management Process"
        class="w-full h-auto max-w-4xl rounded-x2 shadow-2xl"
      />
    </div>